/* custom css */
@import "tailwindcss";

button {
    cursor: pointer;
}

*:disabled {
    cursor: not-allowed
}

a {
    cursor: pointer;
}

:root {
    --toastify-toast-bottom: max(var(--toastify-toast-offset) + 30px, env(safe-area-inset-bottom));
}
